<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBb_Y6W0f8ar_gpaFTL8NI8bmowtf_ifFc</string>
	<key>GCM_SENDER_ID</key>
	<string>128890619316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medicineSchedule</string>
	<key>PROJECT_ID</key>
	<string>schedule-medicine</string>
	<key>STORAGE_BUCKET</key>
	<string>schedule-medicine.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128890619316:ios:bfb51ddc3cd73ffb3e9ee1</string>
	<key>DATABASE_URL</key>
	<string>https://schedule-medicine-default-rtdb.firebaseio.com</string>
</dict>
</plist>